<div class="body">
    <div class="container asocijacije">
        <div>
            <h3>{{'TOTAL SCORE: ' + totalScore.score}}</h3>
            <div class="row">
                <div class="col-6">
                    <div ng-repeat="item in ArrOfColumns[0] track by $index">
                        <button ng-class="{'green': successA}" ng-click="open(item)" class="btnAsocijacije"> {{item.a}}
                        </button>
                    </div>
                    <h3 ng-if="colA">{{'KOLONA A ' + pointsA + ' poena'}}</h3>
                    <form ng-submit="submit(ArrOfColumns[0])">
                        <input class="inputAsocijacije" ng-model="columnInputs[0]" type="text">
                    </form>
                </div>
                <div class="col-6">
                    <div ng-repeat="item in ArrOfColumns[1] track by $index">
                        <button ng-class="{'green': successB}" ng-click="open(item, ArrOfColumns[1])" class="btnAsocijacije"> {{item.a}}
                        </button>
                    </div>
                    <h3 ng-if="colB">{{'KOLONA B ' + pointsB + ' poena'}}</h3>
                    <form ng-submit="submit(ArrOfColumns[1])">
                        <input class="inputAsocijacije" ng-model="columnInputs[1]" type="text">
                    </form>
                </div>
            </div>
            <!-- end of first row -->
            <div class="row">
                <div class="col-12">
                    <form ng-submit="submitKonacno(ArrOfColumns[0], ArrOfColumns[1], ArrOfColumns[2], ArrOfColumns[3])">
                        <input class="inputKonacno" ng-model="konacno" type="text">
                    </form>
                </div>
            </div>
            <!-- end of KONACNO -->
            <div class="row">
                <div class="col-6">
                    <h3 ng-if="colC">{{'KOLONA C ' + pointsC + ' poena'}}</h3>
                    <form ng-submit="submit(ArrOfColumns[2])">
                        <input class="inputAsocijacije" ng-model="columnInputs[2]" type="text">
                    </form>
                    <div ng-repeat="item in ArrOfColumns[2] track by $index">
                        <button ng-class="{'green': successC}" ng-click="open(item, ArrOfColumns[2])" class="btnAsocijacije"> {{item.a}}
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <h3 ng-if="colD">{{'KOLONA D ' + pointsD + ' poena'}}</h3>
                    <form ng-submit="submit(ArrOfColumns[3])">
                        <input class="inputAsocijacije" ng-model="columnInputs[3]" type="text">
                    </form>
                    <div ng-repeat="item in ArrOfColumns[3] track by $index">
                        <button ng-class="{'green': successD}" ng-click="open(item, ArrOfColumns[3])" class="btnAsocijacije"> {{item.a}}
                        </button>
                    </div>
                </div>
            </div>
            <!-- end of second row -->
        </div>
    </div>