<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary btnAsocijacije" ng-click="showmeA1()" ng-if="!a1">A1</button>
                <button ng-class="{'bg-success': greenA, 'green': greenK}" class="btn btn-primary" ng-if="a1">{{columns[0].posibilities[0].a1}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeA2()" ng-if="!a2">A2</button>
                <button ng-class="{'bg-success': greenA, 'green': greenK}" class="btn btn-primary" ng-if="a2">{{columns[0].posibilities[1].a2}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeA3()" ng-if="!a3">A3</button>
                <button ng-class="{'bg-success': greenA, 'green': greenK}" class="btn btn-primary" ng-if="a3">{{columns[0].posibilities[2].a3}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeA4()" ng-if="!a4">A4</button>
                <button ng-class="{'bg-success': greenA, 'green': greenK}" class="btn btn-primary" ng-if="a4">{{columns[0].posibilities[3].a4}}</button>
                <br>
                <form ng-submit="submitA()">
                    <input class="inputAsocijacije" ng-model="a" type="text">
                </form>
            </div>
            <div class="col-6">
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeB1()" ng-if="!b1">B1</button>
                <button ng-class="{'bg-success': greenB, 'green': greenK}" class="btn btn-primary" ng-if="b1">{{columns[1].posibilities[0].b1}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeB2()" ng-if="!b2">B2</button>
                <button ng-class="{'bg-success': greenB, 'green': greenK}" class="btn btn-primary" ng-if="b2">{{columns[1].posibilities[1].b2}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeB3()" ng-if="!b3">B3</button>
                <button ng-class="{'bg-success': greenB, 'green': greenK}" class="btn btn-primary" class="btn btn-primary" ng-if="b3">{{columns[1].posibilities[2].b3}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeB4()" ng-if="!b4">B4</button>
                <button ng-class="{'bg-success': greenB, 'green': greenK}" class="btn btn-primary" ng-if="b4">{{columns[1].posibilities[3].b4}}</button>
                <br>
                <form ng-submit="submitB()">
                    <input class="inputAsocijacije" ng-model="b" type="text">
                </form>
            </div>
        </div>
        <div class="row col-12">
            <form ng-submit="submitKonacno()">
                <input class="inputKonacno" ng-model="konacno" type="text">
            </form>
        </div>
        <div class="row">
            <div class="col-6">
                <form ng-submit="submitC()">
                    <input class="inputAsocijacije" ng-model="c" type="text">
                </form>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeC1()" ng-if="!c1">c1</button>
                <button ng-class="{'bg-success': greenC, 'green': greenK}" class="btn btn-primary" ng-if="c1">{{columns[2].posibilities[0].c1}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeC2()" ng-if="!c2">c2</button>
                <button ng-class="{'bg-success': greenC, 'green': greenK}" class="btn btn-primary" ng-if="c2">{{columns[2].posibilities[1].c2}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeC3()" ng-if="!c3">c3</button>
                <button ng-class="{'bg-success': greenC, 'green': greenK}" class="btn btn-primary" ng-if="c3">{{columns[2].posibilities[2].c3}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeC4()" ng-if="!c4">c4</button>
                <button ng-class="{'bg-success': greenC, 'green': greenK}" class="btn btn-primary" ng-if="c4">{{columns[2].posibilities[3].c4}}</button>
                <br>
            </div>
            <div class="col-6">
                <form ng-submit="submitD()">
                    <input class="inputAsocijacije" ng-model="d" type="text">
                </form>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeD1()" ng-if="!d1">d1</button>
                <button ng-class="{'bg-success': greenD, 'green': greenK}" class="btn btn-primary" ng-if="d1">{{columns[3].posibilities[0].d1}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeD2()" ng-if="!d2">d2</button>
                <button ng-class="{'bg-success': greenD, 'green': greenK}" class="btn btn-primary" ng-if="d2">{{columns[3].posibilities[1].d2}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeD3()" ng-if="!d3">d3</button>
                <button ng-class="{'bg-success': greenD, 'green': greenK}" class="btn btn-primary" ng-if="d3">{{columns[3].posibilities[2].d3}}</button>
                <br>
                <button  class="btn btn-primary btnAsocijacije" ng-click="showmeD4()" ng-if="!d4">d4</button>
                <button ng-class="{'bg-success': greenD, 'green': greenK}" class="btn btn-primary" ng-if="d4">{{columns[3].posibilities[3].d4}}</button>
                <br>
            </div>
        </div>
    </div>
</div>