<div class="body">
    <div class="container">
        <div>
            Total score:
            <button class="btn btn-small btn-primary">{{totalScore.score}}</button>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 id="koznaznaNaslov">{{activeQuestion+1 + '. ' + questions[activeQuestion].text}}</h1>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="answer in questions[activeQuestion].posibilities" class="col-6">
                <button ng-click="selectAnswer(answer)" ng-class="{'bg-info': answer.selected,
                                    'success': answer.success,
                                    'bg-danger': answer.fail}" ng-disabled="disable" class="koznaznaBtn">{{answer.answer}}
                </button>
            </div>
        </div>
        <div>
            <button class="btn btn-large btn-success">{{points}}</button>
        </div>
    </div>
</div>